@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish" !important;
  font-weight: 500;
  scroll-behavior: smooth;
}
nav ul li {
  font-weight: normal;
}
ul {
  padding: 0 !important;
}
.card-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (width<=768px) {
  .postFrom {
    width: 90% !important;
  }
}
.first-letter-big {
  line-height: 1.4em;
}
.first-letter-big::first-letter {
  font-size: 40px;
}
.single-post-p p {
  margin-bottom: 0;
}
